# SQL for accessing postgreSQL

データベースシステム講義資料  
version 0.0.1   
authors: H. Chenan & N. Tsutsumida  

Copyright (c) 2023 Narumasa Tsutsumida  
Released under the MIT license  
https://opensource.org/licenses/mit-license.php

## Task

F6. 埼玉県内の全鉄道駅において、2019年4月（休日・昼間）と2020年4月（休日・昼間）の人口増減率 ((pop_202004 - pop_201904)/pop_201904)を、小さい順に並べ、最初の10件を示せ。（出力は県名、駅名、人口増減率とすること）

## prerequisites

In [33]:
import os
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_columns', 20)

In [34]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

## Define a sql command

In [35]:
sql = """
WITH
    pop_filtered AS (
        SELECT DISTINCT
            p.name,
            d.prefcode,
            d.year,
            d.month,
            d.population,
            st_transform(p.geom, 3857) AS geom
        FROM
            pop AS d
            INNER JOIN pop_mesh AS p ON p.name = d.mesh1kmid
        WHERE
            d.dayflag = '0'
            AND d.timezone = '0'
            AND d.month = '04'
            AND d.year IN ('2019', '2020')  -- 先にまとめて取得した方が効率が良い
    ),
    stations AS (
        SELECT
            pt.osm_id,
            pt.name AS station_name,
            poly.name_1 AS prefecture,
            st_transform(pt.way, 3857) AS way
        FROM
            planet_osm_point AS pt
            INNER JOIN adm2 AS poly ON st_within(
                st_transform(pt.way, 3857),
                st_transform(poly.geom, 3857)
            )
        WHERE
            pt.railway = 'station'
            AND poly.name_1 = 'Saitama'
    ),
    station_population AS (
        SELECT
            s.station_name,
            s.prefecture,
            p.year,
            SUM(p.population) AS population
        FROM
            pop_filtered AS p
            INNER JOIN stations AS s ON st_within(s.way, p.geom)
        GROUP BY
            s.station_name,
            s.prefecture,
            p.year
    ),
    population_pivot AS (
        SELECT
            station_name,
            prefecture,
            MAX(
                CASE
                    WHEN year = '2019' THEN population
                END
            ) AS pop_201904,
            MAX(
                CASE
                    WHEN year = '2020' THEN population
                END
            ) AS pop_202004
        FROM
            station_population
        GROUP BY
            station_name,
            prefecture
    )
SELECT
    prefecture,
    station_name,
    (pop_202004 - pop_201904) / pop_201904 AS rate
FROM
    population_pivot
ORDER BY
    rate ASC
LIMIT
    10;
"""

## Outputs

In [36]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

  prefecture station_name      rate
0    Saitama     ハートフルランド -0.945013
1    Saitama          三峰口 -0.908116
2    Saitama        西武球場前 -0.872104
3    Saitama           白久 -0.823887
4    Saitama          西吾野 -0.750000
5    Saitama           用土 -0.736264
6    Saitama           竹沢 -0.722488
7    Saitama          新三郷 -0.704125
8    Saitama          大麻生 -0.692568
9    Saitama      さいたま新都心 -0.619451